body{
    margin:0;
    overflow-x:hidden;
    background:#030712;
    color:white;
}

.app{
    position: relative;
    min-height: 100vh;
}

.background{
    position: fixed;   
    inset: 0;
    z-index: -1;       
    overflow: hidden;
}
.grid{

    position:absolute;

    inset:0;

    background-image:

    linear-gradient(rgba(255,255,255,.05) 1px,transparent 1px),

    linear-gradient(90deg,rgba(255,255,255,.05) 1px,transparent 1px);

    background-size:45px 45px;

    opacity:.35;

}
.blob{

position:absolute;

border-radius:50%;

filter:blur(120px);

animation:float 12s ease-in-out infinite;

}
.blob1{

width:350px;
height:350px;

background:#00E5FF;

top:-100px;

left:-120px;

opacity:.3;

}
.blob2{

width:450px;
height:450px;

background:#2563EB;

bottom:-120px;

right:-120px;

opacity:.25;

animation-delay:2s;

}
.blob3{

width:300px;
height:300px;

background:#7C3AED;

left:55%;

top:35%;

opacity:.2;

animation-delay:4s;

}
@keyframes float{

0%{
transform:translate(0,0);
}

50%{
transform:translate(40px,-30px);
}

100%{
transform:translate(0,0);
}

}
.ring{

position:absolute;

border:1px solid rgba(0,229,255,.15);

border-radius:50%;

animation:rotate 20s linear infinite;

}
.ring1{

width:500px;

height:500px;

top:15%;

right:5%;

}
.ring2{

width:700px;

height:700px;

left:-180px;

bottom:-180px;

animation-duration:30s;

}
.ring3{

width:300px;

height:300px;

top:60%;

left:65%;

animation-duration:15s;

}
@keyframes rotate{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}
.scan-line{

position:absolute;

width:100%;

height:2px;

background:

linear-gradient(to right,

transparent,

cyan,

transparent);

animation:scan 6s linear infinite;

opacity:.6;

}
@keyframes scan{

0%{

top:-5%;

}

100%{

top:105%;

}

}
.card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.08);

border-radius:20px;

transition:.4s;

}
.card:hover{

transform:translateY(-10px);

box-shadow:

0 0 40px rgba(0,229,255,.35);

}
button{

background:linear-gradient(90deg,#00E5FF,#2563EB);

border:none;

padding:15px 30px;

border-radius:12px;

color:white;

transition:.3s;

cursor:pointer;

}
button:hover{

transform:scale(1.05);

box-shadow:

0 0 30px cyan;

}
.content{

    position:relative;

    z-index:10;

}
.hero{
    background:white;
}
.hero{
    background:transparent;
}
.features{
    background:transparent;
}

.scanner{
    background:transparent;
}

footer{
    background:transparent;
}